.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.admin-form input[type='text'],
.admin-form input[type='password'] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form button[type='submit'] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #ccc
}