.App {
    text-align: center;
  }
  
  .question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  


  /* Button active effect */
  
  .li {
    margin-top: 8px;
    background-color: rgba(169, 169, 169, 0.689);
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
  }
 

  .li1 {
    background-color: rgb(0, 72, 132); /* Green */
    margin-top: 8px;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

  }
  .li1:hover {
    background-color: rgb(186, 186, 223);
  }

  /* Button active effect */
  .li1:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(245, 239, 239, 0.2);
  }

  .text {
    font-size: 22px;
    font-weight: bold;
    text-align: left;

}
 
  .question-text {
    color: darkblue;
    font-size: 24px;
  }
  
  /* Final Resul1ts  */
  
  .final-results {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin-top: 64px;
  
    /* Visual  */
    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .buttonnn {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  
    border-radius: 24px;
  }

  .button1 {
    background-color: rgb(116, 225, 131); /* Green */
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  
    border-radius: 24px;
  }
  
  .button1:hover {
    background-color: rgb(186, 186, 223);
  }

  /* Button active effect */
  .button1:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(245, 239, 239, 0.2);
  }

  button:hover {
    background-color: rgb(186, 186, 223);
  }

  /* Button active effect */
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(245, 239, 239, 0.2);
  }


  
  .button2 {
    background-color: rgb(0, 72, 132); /* Green */
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .button2:hover {
    background-color: rgb(186, 186, 223);
  }

  /* Button active effect */
  .button2:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(245, 239, 239, 0.2);
  }

  .btn{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: x-large;
    display: block;
    padding: 5px;
    margin: 1px auto;
    width: 10%;
}

  .btn:hover {
    background-color: rgb(63, 61, 61);
  }

  /* Button active effect */
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgb(255, 255, 255);
  }
  .li3 {
    background-color: rgb(0, 72, 132); /* Green */
    margin-top: 8px;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;

  }
