.form{
    text-align: center;
    background-color:rgb(255, 255, 255);
  }
   
  .form1{
    text-align: center;
    background-color:rgb(10, 178, 234);
    padding: 50px;
    margin: 10px;
  }
  .label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
  }
   
  .input{
    font-size: larger;
    padding: 5px;
    margin: 15px;
    
  }
  .btn{
    color: white;
    background-color: rgb(2, 41, 46);
    border-radius: 10px;
    font-size: x-large;
    display: block;
    padding: 5px;
    margin: 10px auto;
  }
   
  .messages{
    display: flex;
    justify-content: center;
  }
   
  .error{
    background-color: rgb(254, 251, 251);
    color: rgb(162, 5, 5);
    width: fit-content;
    height: 60px;
    padding: 0px;
  }
   
  .success{
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(52, 239, 0);
    width: fit-content;
    height: 60px;
    padding: 0px;
  }
  #policy-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#policy-modal .policy-text {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
}